/*.caixa {
    background: red;
    height: 120px;
    width: 120px;
} */

* {
    margin: 5px;
    padding: 5px;
}

h1 {
    color:  blue;
    font-size: 20px;  
}

body div section p {
    color:  red;
}

.heading {
    color: green;
}

.heading:hover {
    background: orange;
}

.heading {
    transition: all 1s ease-in-out;
}

[check] {
    width: 50px;
    height: 50px;
} 

input:checked + P {
    background: yellow;
}

a:visited {
    color: blue;
}

a:hover {
    background: orangered;
    color: blue;
    text-decoration: none;
}

input:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
   /* cursor: not-allowed; */
}

/*   muda o cursor e coloca a tag nome em cima do formulario
label {
    cursor: pointer;
    display: block;
}   */

.texto  {
    /*display: block;*/
    background: red;
    width: 200px;
    height: 200px;
    /*overflow: hidden;  -> o hidden esconde o conteúdo que sai do tamanho do bloco */
    /*overflow-y: scroll;  -> coloca uma barra scroll no eixo Y */
    overflow: auto;  /* onde o texto sobrar a barra scroll aparece seja no X ou Y */
    margin: o auto; /* ajusta sempre no meio */
    padding: 10px 5px; /* é o enchimento entre a borda e o conteúdo */
    border: 5px solid black;
}